.left-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px; 
    height: 100vh;
    background-color: #f0f0f0;
    color: #000; 
    overflow-y: auto; 
    padding-top: 60px;
  }
  
  .menu-item {
    padding: 30px;
    cursor: pointer;
  }
  

  